@import '_variables.scss';

div.highlight,
pre {
  position: relative;
}

.copy-code {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  user-select: none;
  opacity: 0.5;
  display: none;

  &:hover {
    background-color: $highlight-color;
    opacity: 1;
  }
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
  display: block;
}
