---
import '../styles/main.scss';
import Navigation from '../components/Navigation.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout>
  <!-- Page background -->
  <div id="page-bg"></div>
  
  <!-- Masthead -->
  <div id="masthead-wrapper">
    <div id="masthead-homepage" class="masthead">
      <h2>Full Stack Developer</h2>
      <h1 class="masthead-title">
        The German Coder
      </h1>
      <div id="masthead-subtitle">
        <div class="sep"></div>
        <span>I LOVE CLEAN CODE</span>
        <div class="sep"></div>
      </div>
    </div>
  
    <!-- Arrow down -->
    <div id="arrow-down">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          fill="currentColor"
          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
        />
      </svg>
    </div>
  </div>
  
  <main>
    <!-- Who is this -->
    <div class="section light">
      <h2>Who Is This</h2>
      <h5>CODE ENTHUSIAST</h5>
      <div class="section-sep"></div>
  
      <div class="row">
        <div class="col">
          <p>
            Hi, I am Kevin! I am a Full-Stack-Developer from Germany – Hamburg, to
            be precise. I got into software development out of curiosity for the
            things happening behind the curtain of the internet. Hard work and
            determination allowed me to come from passion to being a professional
            web developer.
          </p>
          <p>
            Like many other developers, I got my basic development skills by just
            diving right into it. Learning to code requires loads of practice, so
            I started writing programs for anything I could think of to expand my
            knowledge. While this approach served me very well, I eventually
            decided to get a proper academic foundation as well to dig even
            deeper.
          </p>
        </div>
        <div class="col">
          <p>
            After graduating in Business Informatics at a German university, I
            gathered many years of practical experience as a web developer in
            several exciting projects, both personal and professional. With lots
            and lots of practice came proficiency in various languages, platforms
            and frameworks.
          </p>
          <p>
            But in programming, especially in web development, you’re never done
            learning. It requires constant refining of the existing skillset as
            well as an open mind towards new technologies. It requires an open
            mind as well as constant refinement of the skillset. This makes it
            easy to work in unknown environments – because in the end it’s all
            just code!
          </p>
        </div>
      </div>
    </div>
  
    <!-- Why work with me -->
    <div class="section dark">
      <h2>Why Work With Me</h2>
      <h5>THE GERMAN WAY</h5>
      <div class="section-sep"></div>
      <div class="row cards">
        <div class="card light">
          <div class="card-icon-wrapper">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                <path
                  fill="currentColor"
                  d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
                />
              </svg>
            </div>
          </div>
          <div class="card-title">Quality</div>
          <div class="section-sep"></div>
          <div class="card-text">
            Writing clean and well documented code makes for easy collaboration
            and maintainability.
          </div>
        </div>
  
        <div class="card light">
          <div class="card-icon-wrapper">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  fill="currentColor"
                  d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z"
                />
              </svg>
            </div>
          </div>
          <div class="card-title">Efficiency</div>
          <div class="section-sep"></div>
          <div class="card-text">
            Save money by hiring someone who knows his way around code and thus
            gets the job done quicker.
          </div>
        </div>
  
        <div class="card light">
          <div class="card-icon-wrapper">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  fill="currentColor"
                  d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"
                />
              </svg>
            </div>
          </div>
          <div class="card-title">Availability</div>
          <div class="section-sep"></div>
          <div class="card-text">
            What good is a great developer if you can't get in touch with him? I
            can give you the best of both worlds!
          </div>
        </div>
      </div>
  
      <div class="row cards">
        <div class="card light">
          <div class="card-icon-wrapper">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  fill="currentColor"
                  d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM609.3 512H471.4c5.4-9.4 8.6-20.3 8.6-32v-8c0-60.7-27.1-115.2-69.8-151.8c2.4-.1 4.7-.2 7.1-.2h61.4C567.8 320 640 392.2 640 481.3c0 17-13.8 30.7-30.7 30.7zM432 256c-31 0-59-12.6-79.3-32.9C372.4 196.5 384 163.6 384 128c0-26.8-6.6-52.1-18.3-74.3C384.3 40.1 407.2 32 432 32c61.9 0 112 50.1 112 112s-50.1 112-112 112z"
                />
              </svg>
            </div>
          </div>
          <div class="card-title">Communication</div>
          <div class="section-sep"></div>
          <div class="card-text">
            Despite being proficient in coding I can still communicate in
            non-techy terms.
          </div>
        </div>
  
        <div class="card light">
          <div class="card-icon-wrapper">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  fill="currentColor"
                  d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM625 177L497 305c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L591 143c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
                />
              </svg>
            </div>
          </div>
          <div class="card-title">Reliability</div>
          <div class="section-sep"></div>
          <div class="card-text">
            Rest assured that the job will be done in time. I wouldn’t have
            accepted the job, if I have doubts about your deadline.
          </div>
        </div>
  
        <div class="card light">
          <div class="card-icon-wrapper">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                  fill="currentColor"
                  d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
                />
              </svg>
            </div>
          </div>
          <div class="card-title">Dedication</div>
          <div class="section-sep"></div>
          <div class="card-text">
            Engaging in a project means putting my heart and soul into it to come
            up with the best results.
          </div>
        </div>
      </div>
    </div>
  
    <!-- What are my skills -->
    <div class="section light">
      <h2>What Are My Skills</h2>
      <h5>FRONTEND • BACKEND • SERVER</h5>
      <div class="section-sep"></div>
      <div class="skills">
        <!-- JavaScript -->
        <div class="skill">
          <div class="skill-name">JavaScript</div>
          <div class="skill-bar">
            <div class="skill-bar-background"></div>
            <div class="skill-bar-actual" style="max-width: 95%"></div>
          </div>
        </div>
  
        <!-- MySQL -->
        <div class="skill">
          <div class="skill-name">MySQL</div>
          <div class="skill-bar">
            <div class="skill-bar-background"></div>
            <div class="skill-bar-actual" style="max-width: 80%"></div>
          </div>
        </div>
  
        <!-- PHP -->
        <div class="skill">
          <div class="skill-name">PHP</div>
          <div class="skill-bar">
            <div class="skill-bar-background"></div>
            <div class="skill-bar-actual" style="max-width: 95%"></div>
          </div>
        </div>
  
        <!-- Linux -->
        <div class="skill">
          <div class="skill-name">Linux</div>
          <div class="skill-bar">
            <div class="skill-bar-background"></div>
            <div class="skill-bar-actual" style="max-width: 80%"></div>
          </div>
        </div>
  
        <!-- HTML5/CSS3 -->
        <div class="skill">
          <div class="skill-name">HTML5/CSS3</div>
          <div class="skill-bar">
            <div class="skill-bar-background"></div>
            <div class="skill-bar-actual" style="max-width: 90%"></div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Quote -->
    <div class="section dark">
      <div class="quote-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            fill="currentColor"
            d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z"
          />
        </svg>
      </div>
      <div class="quote">
        "Clean Code always looks like it was written by someone who cares."
      </div>
      <div class="quote-author">- Robert Cecil Martin -</div>
    </div>
  
    <!-- What Am I Doing -->
    <div class="section light">
      <h2>What Am I Doing</h2>
      <h5>RECENT PROJECTS</h5>
      <div class="section-sep"></div>
      <div class="row cards projects">
        <a class="card" href="https://standort.immocation.de" aria-label="Immocation Standort Tool">
          <div class="card-title">Immocation Standort-Tool</div>
          <div class="section-sep"></div>
          <div class="card-text">
            A tool for real estate investors to evaluate and compare locations by
            various metrics.
          </div>
        </a>
  
        <a class="card" href="https://github.com/paranerd/to-do-list" aria-label="To-Do-List">
          <div class="card-title">To-Do-List</div>
          <div class="section-sep"></div>
          <div class="card-text">
            A self-hosted To-Do-List based on Angular, NodeJS and MongoDB,
            leveraging Progressive Web App capabilities.
          </div>
        </a>
  
        <a class="card" href="https://github.com/paranerd/to-do-list-alexa-skill" aria-label="Alexa To-Do-List Companion">
          <div class="card-title">Alexa To-Do-List Companion Skill</div>
          <div class="section-sep"></div>
          <div class="card-text">
            A way to interact with the self-hosted To-Do-List app via Alexa
            devices.
          </div>
        </a>
      </div>
  
      <div class="row cards projects">
        <a class="card" href="https://github.com/paranerd/2048" aria-label="2048">
          <div class="card-title">2048</div>
          <div class="section-sep"></div>
          <div class="card-text">
            This is a web port of the popular mobile game 2048.
          </div>
        </a>
  
        <a class="card" href="https://github.com/paranerd/simpledrive" aria-label="simpleDrive">
          <div class="card-title">simpleDrive</div>
          <div class="section-sep"></div>
          <div class="card-text">
            simpleDrive is a private cloud software to be run on your own server.
            It puts you in charge of your data - the way it's meant to be.
          </div>
        </a>
  
        <a class="card" href="https://github.com/paranerd/backup-manager" aria-label="Backup Manager">
          <div class="card-title">Backup Manager</div>
          <div class="section-sep"></div>
          <div class="card-text">
            A Python-based command line tool to backup various cloud accounts,
            including Google Drive, Google Photos, GitHub and WordPress.
          </div>
        </a>
      </div>
    </div>
  
    <!-- Contact -->
    <div class="section">
      <h2>How Can I Help You</h2>
      <h5>TELL ME ABOUT YOUR PROJECT</h5>
      <div class="section-sep"></div>
      <div>
        If you're interested in working with me, just leave me your Mail-Address.
      </div>
      <div style="margin-top: 10px">
        I'll get back to you as quick as possible!
      </div>
      <form id="contact-form" action="https://formspree.io/f/mpzvolbv" method="POST">
        <div class="form-group">
          <input id="contact-form-name" type="text" name="name" required />
          <span class="bar"></span>
          <label for="contact-form-name">Name</label>
        </div>
  
        <div class="form-group">
          <input id="contact-form-email" type="email" name="email" required />
          <span class="bar"></span>
          <label for="contact-form-email">E-Mail</label>
        </div>
  
        <div class="form-group">
          <textarea id="contact-form-description" name="message" required></textarea>
          <span class="bar"></span>
          <label for="contact-form-description">Description</label>
        </div>
  
        <input type="text" name="_gotcha" style="display:none" />
  
        <button class="btn g-recaptcha" type="submit" data-sitekey="6Le70LYpAAAAAPP8vmzS0jL-Wm_MUOUoeVvRBR8c" data-callback='onContactFormSubmit'>LET'S WORK</button>
  
        <div id="contact-form-submit-response">Thank you for your message!</div>
  
        <div id="recaptcha-disclaimer">
          This site is protected by reCAPTCHA and the Google
          <a href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </div>
      </form>
    </div>
  </main>
</BaseLayout>
  
    <!--<script src="https://www.google.com/recaptcha/api.js"></script>-->
