---
import '../styles/main.scss';
import '../styles/nav-icon.scss';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Projects';
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Projects</h1>
</BaseLayout>
